---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
/* Stack sidebar on top for mobile devices */
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .sidebar, .main-content {
    flex: 100% !important;
  }
}
.wrapper {
  max-width: 1300px; /* Adjust this to give your new two-column layout more breathing room */
  padding: 0 20px;
}